@import "compass/reset";
@import "compass/css3";

@import "compass/utilities/general/clearfix";

@import "icomoon";

$text-color: #3e3e3e;
$light-text-color: #dddddd;
$body-color: #2f2f2f;
$highlight-color: hsl(220, 100%, 60%);

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

$break-small: 320px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 62.5%;
	font-weight: normal;
	text-align: center;
	color: $text-color;
	@include font-smoothing;
}

@mixin headline() {
	&:after {
		width: 2em;
		height: .1em;
		margin: .3em auto;
		display: block;
		content: "";
		background-color: $light-text-color;
	}	
}

a {
	text-decoration: none;
	color: white;
}

.hero {
	position: relative;
	background-color: $body-color;
	z-index: 1;
	nav {
		padding: 2em;

		li {
			float: left;
			a {
				font-size: 2em;
				display: inline-block;
				padding: .5em 1em;

				&:hover {
					color: $highlight-color;
				}
			}
			@include clearfix;
		}
		
		@include clearfix;
	}

	h1 {
		font-size: 8em;
		font-weight: normal;
		padding: 2.4em 0 1.4em 0;
		text-transform: uppercase;
		color: white;
	}
	
	&:after {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: .2;
		display: block;
		content: "";
		background: url("../images/hero.jpg");
		background-size: cover;
		z-index: -1;
	}

	p {
		width: 70%;
		margin: 0 auto;
		font-size: 2em;
		color: white;
		padding: 0 0 6em 0;
		line-height: 1.4;

		.link {
			color: $highlight-color;
		}
	}
}

.cases {
	padding: 3em 0;
	
	h2 {
		color: $highlight-color;
		font-size: 3em;
		padding: 1em 0;
		text-transform: uppercase;
		
		@include headline;
	}

	li {
		float: left;
		width: 25%;

		@include respond-to(handhelds) {
			float: none;
			width: 100%;
		}

		@include respond-to(medium-screens) {
			width: 50%;
		}

		height: 25em;
		overflow: hidden;

		.case {
			width: 100%;
		}
		
		position: relative;

		&:hover {
			.information {
				top:0;
			}
		}

		.information {
			position: absolute;
			background-color: $text-color;
			top:-25em;
			left:0;
			width: 100%;
			height: 100%;
			opacity: .9;
			transition: all .4s ease-in-out;
			text-align: left;
			padding: 0 1em;
			box-sizing: border-box;
			color: white;

			h3 {
				font-size: 2em;
				padding: 1em 0;
			}

			.actions {
				text-align: center;
				width: 90%;
				margin: 0 auto;
				padding: 5em 0;

				span {
					font-size: 2em;
					display: inline-block;
					border: 1px solid transparent;
					@include border-radius(100%);
					padding: .3em;
					margin-right: 1em;
					transition: all .3s ease-in-out;
					cursor: pointer;

					&:hover {
						color: white;
						background-color: $highlight-color;
						border: 1px solid $highlight-color;
					}
				}
			}

			.detail {
				position: relative;
				padding-top: 2em;
				.avator {
					position: absolute;
					width: 2.5em;
					height: 2.5em;
					@include border-radius(100%);
				}
				.contact {
					margin-left: 3em;
					.name {
						font-weight: bold;
						margin-right: .5em;
					}
					
					.role {
						color: $light-text-color;
					}

					.date {
						color: $light-text-color;	
						float: right;
					}
				}
			}
		}
	}

	@include clearfix;
}

footer {
	font-size: 2em;
	background-color: $body-color;
	color: white;

	.link {
		color: $highlight-color;
	}
	padding: 2em 0;
}