/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?200299");
  src: url("../fonts/icomoon.eot?#iefix200299") format("embedded-opentype"), url("../fonts/icomoon.woff?200299") format("woff"), url("../fonts/icomoon.ttf?200299") format("truetype"), url("../fonts/icomoon.svg?200299#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icomoon.scss */
.icon-zoom-out:before {
  content: "\e62b";
}

/* line 29, ../sass/icomoon.scss */
.icon-zoom-in:before {
  content: "\e62c";
}

/* line 32, ../sass/icomoon.scss */
.icon-open:before {
  content: "\e62a";
}

/* line 35, ../sass/icomoon.scss */
.icon-circle-o-notch:before {
  content: "\e625";
}

/* line 38, ../sass/icomoon.scss */
.icon-google-plus:before {
  content: "\e601";
}

/* line 41, ../sass/icomoon.scss */
.icon-email:before {
  content: "\e602";
}

/* line 44, ../sass/icomoon.scss */
.icon-github:before {
  content: "\e603";
}

/* line 47, ../sass/icomoon.scss */
.icon-sina-weibo:before {
  content: "\e604";
}

/* line 50, ../sass/icomoon.scss */
.icon-pencil:before {
  content: "\e611";
}

/* line 53, ../sass/icomoon.scss */
.icon-quill:before {
  content: "\e61d";
}

/* line 56, ../sass/icomoon.scss */
.icon-books:before {
  content: "\e623";
}

/* line 59, ../sass/icomoon.scss */
.icon-tag:before {
  content: "\e612";
}

/* line 62, ../sass/icomoon.scss */
.icon-address-book:before {
  content: "\e613";
}

/* line 65, ../sass/icomoon.scss */
.icon-bell:before {
  content: "\e61e";
}

/* line 68, ../sass/icomoon.scss */
.icon-mobile:before {
  content: "\e606";
}

/* line 71, ../sass/icomoon.scss */
.icon-redo:before {
  content: "\e61f";
}

/* line 74, ../sass/icomoon.scss */
.icon-user:before {
  content: "\e61c";
}

/* line 77, ../sass/icomoon.scss */
.icon-users:before {
  content: "\e607";
}

/* line 80, ../sass/icomoon.scss */
.icon-search:before {
  content: "\e620";
}

/* line 83, ../sass/icomoon.scss */
.icon-wrench:before {
  content: "\e624";
}

/* line 86, ../sass/icomoon.scss */
.icon-list:before {
  content: "\e614";
}

/* line 89, ../sass/icomoon.scss */
.icon-flag:before {
  content: "\e608";
}

/* line 92, ../sass/icomoon.scss */
.icon-heart:before {
  content: "\e615";
}

/* line 95, ../sass/icomoon.scss */
.icon-thumbs-up:before {
  content: "\e616";
}

/* line 98, ../sass/icomoon.scss */
.icon-close:before {
  content: "\e60e";
}

/* line 101, ../sass/icomoon.scss */
.icon-minus:before {
  content: "\e60f";
}

/* line 104, ../sass/icomoon.scss */
.icon-plus:before {
  content: "\e610";
}

/* line 107, ../sass/icomoon.scss */
.icon-loop:before {
  content: "\e617";
}

/* line 110, ../sass/icomoon.scss */
.icon-arrow-up:before {
  content: "\e626";
}

/* line 113, ../sass/icomoon.scss */
.icon-arrow-down:before {
  content: "\e627";
}

/* line 116, ../sass/icomoon.scss */
.icon-facebook:before {
  content: "\e605";
}

/* line 119, ../sass/icomoon.scss */
.icon-twitter:before {
  content: "\e618";
}

/* line 122, ../sass/icomoon.scss */
.icon-skype:before {
  content: "\e600";
}

/* line 125, ../sass/icomoon.scss */
.icon-maximize:before {
  content: "\e621";
}

/* line 128, ../sass/icomoon.scss */
.icon-star:before {
  content: "\e609";
}

/* line 131, ../sass/icomoon.scss */
.icon-video:before {
  content: "\e60a";
}

/* line 134, ../sass/icomoon.scss */
.icon-settings:before {
  content: "\e60b";
}

/* line 137, ../sass/icomoon.scss */
.icon-lock:before {
  content: "\e60c";
}

/* line 140, ../sass/icomoon.scss */
.icon-world:before {
  content: "\e60d";
}

/* line 143, ../sass/icomoon.scss */
.icon-cross:before {
  content: "\e619";
}

/* line 146, ../sass/icomoon.scss */
.icon-min:before {
  content: "\e61a";
}

/* line 149, ../sass/icomoon.scss */
.icon-max:before {
  content: "\e61b";
}

/* line 152, ../sass/icomoon.scss */
.icon-arrow-down2:before {
  content: "\e628";
}

/* line 155, ../sass/icomoon.scss */
.icon-arrow-up2:before {
  content: "\e629";
}

/* line 158, ../sass/icomoon.scss */
.icon-ellipsis:before {
  content: "\e622";
}

/* line 39, ../sass/style.scss */
body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  text-align: center;
  color: #3e3e3e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 59, ../sass/style.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 64, ../sass/style.scss */
.hero {
  position: relative;
  background-color: #2f2f2f;
  z-index: 1;
}
/* line 68, ../sass/style.scss */
.hero nav {
  padding: 2em;
  overflow: hidden;
  *zoom: 1;
}
/* line 71, ../sass/style.scss */
.hero nav li {
  float: left;
  overflow: hidden;
  *zoom: 1;
}
/* line 73, ../sass/style.scss */
.hero nav li a {
  font-size: 2em;
  display: inline-block;
  padding: .5em 1em;
}
/* line 78, ../sass/style.scss */
.hero nav li a:hover {
  color: #3377ff;
}
/* line 88, ../sass/style.scss */
.hero h1 {
  font-size: 8em;
  font-weight: normal;
  padding: 2.4em 0 1.4em 0;
  text-transform: uppercase;
  color: white;
}
/* line 96, ../sass/style.scss */
.hero:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  display: block;
  content: "";
  background: url("../images/hero.jpg");
  background-size: cover;
  z-index: -1;
}
/* line 110, ../sass/style.scss */
.hero p {
  width: 70%;
  margin: 0 auto;
  font-size: 2em;
  color: white;
  padding: 0 0 6em 0;
  line-height: 1.4;
}
/* line 118, ../sass/style.scss */
.hero p .link {
  color: #3377ff;
}

/* line 124, ../sass/style.scss */
.cases {
  padding: 3em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 127, ../sass/style.scss */
.cases h2 {
  color: #3377ff;
  font-size: 3em;
  padding: 1em 0;
  text-transform: uppercase;
}
/* line 49, ../sass/style.scss */
.cases h2:after {
  width: 2em;
  height: .1em;
  margin: .3em auto;
  display: block;
  content: "";
  background-color: #dddddd;
}
/* line 136, ../sass/style.scss */
.cases li {
  float: left;
  width: 25%;
  height: 25em;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 320px) {
  /* line 136, ../sass/style.scss */
  .cases li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 136, ../sass/style.scss */
  .cases li {
    width: 50%;
  }
}
/* line 152, ../sass/style.scss */
.cases li .case {
  width: 100%;
}
/* line 159, ../sass/style.scss */
.cases li:hover .information {
  top: 0;
}
/* line 164, ../sass/style.scss */
.cases li .information {
  position: absolute;
  background-color: #3e3e3e;
  top: -25em;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  transition: all .4s ease-in-out;
  text-align: left;
  padding: 0 1em;
  box-sizing: border-box;
  color: white;
}
/* line 178, ../sass/style.scss */
.cases li .information h3 {
  font-size: 2em;
  padding: 1em 0;
}
/* line 183, ../sass/style.scss */
.cases li .information .actions {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 5em 0;
}
/* line 189, ../sass/style.scss */
.cases li .information .actions span {
  font-size: 2em;
  display: inline-block;
  border: 1px solid transparent;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: .3em;
  margin-right: 1em;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
/* line 199, ../sass/style.scss */
.cases li .information .actions span:hover {
  color: white;
  background-color: #3377ff;
  border: 1px solid #3377ff;
}
/* line 207, ../sass/style.scss */
.cases li .information .detail {
  position: relative;
  padding-top: 2em;
}
/* line 210, ../sass/style.scss */
.cases li .information .detail .avator {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 216, ../sass/style.scss */
.cases li .information .detail .contact {
  margin-left: 3em;
}
/* line 218, ../sass/style.scss */
.cases li .information .detail .contact .name {
  font-weight: bold;
  margin-right: .5em;
}
/* line 223, ../sass/style.scss */
.cases li .information .detail .contact .role {
  color: #dddddd;
}
/* line 227, ../sass/style.scss */
.cases li .information .detail .contact .date {
  color: #dddddd;
  float: right;
}

/* line 239, ../sass/style.scss */
footer {
  font-size: 2em;
  background-color: #2f2f2f;
  color: white;
  padding: 2em 0;
}
/* line 244, ../sass/style.scss */
footer .link {
  color: #3377ff;
}
